<nav class="nav left">
    <div class="brand">
        <img src="./assets/brand.svg" alt="brand" />
    </div>
    <div class="item" ng-class="{'selected': step == 1}">
        {{ctrl.getLocale("step")}} 1
        <span>{{ctrl.getLocale("build")}}</span>
    </div>
    <div class="spacer"></div>
    <div class="item" ng-class="{'selected': step == 2}">
        {{ctrl.getLocale("step")}} 2
        <span>{{ctrl.getLocale("import-data")}}</span>
    </div>
    <div class="spacer"></div>
    <div class="item" ng-class="{'selected': step == 3}">
        {{ctrl.getLocale("step")}} 3
        <span>{{ctrl.getLocale("export")}}</span>
    </div>
</nav>
<nav class="nav right">
    <!--
        <div class="item ion-ios-settings icon"></div>
        <div class="item ion-ios-help-outline icon"></div>
    -->
    <div class="item">
        <div class="load-project btn">
            <span class="ion-ios-folder-outline icon-before">{{ctrl.getLocale("load-project")}}</span>
            <input onchange="angular.element(this).scope().projectLoaded(this)" type="file" accept="application/json" />
        </div>
    </div>
    <div class="item language">
        <mjslanguage></mjslanguage>
    </div>
</nav>
