<div class="mjslistitem">
    <div class="thumbnail">
        <img ng-src="{{file.path}}" ng-class="{'show': file.isLoaded}" alt="thumbnail" />
    </div>
    <div class="description">
        <p>
            {{file.name}}
        </p>
        <p>
            {{file.filesize}}
        </p>
        <p>
            {{file.width}} x {{file.height}} | ratio ({{file.ratio[0].toFixed(2)}}:{{file.ratio[1].toFixed(2)}})
        </p>
    </div>
    <div ng-click="delete($index)" class="ion-close deleteImage"></div>
</div>
