<form class="map-content form-content">
    <fieldset>
        <legend>
            {{ctrl.getLocale("settings")}}
        </legend>
        <div>
            <div>
                <label>{{ctrl.getLocale("projectname")}}</label>
                <input type="text" class="long" ng-model="mapOpts.projectname" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            {{ctrl.getLocale("boundaries")}}
        </legend>
        <div>
            <label>{{ctrl.getLocale("northwest")}}</label>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("latitude")}}</label>
            <input type="number" ng-change="boundsChanged()" ng-model="mapOpts.bounds.northWest[0]" />
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("longitude")}}</label>
            <input type="number" ng-change="boundsChanged()" ng-model="mapOpts.bounds.northWest[1]" />
        </div>
        <div>
            <label>{{ctrl.getLocale("southeast")}}</label>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("latitude")}}</label>
            <input type="number" ng-change="boundsChanged()" ng-model="mapOpts.bounds.southEast[0]" />
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("longitude")}}</label>
            <input type="number" ng-change="boundsChanged()" ng-model="mapOpts.bounds.southEast[1]" />
        </div>
    </fieldset>
    <fieldset>
        <legend>
            {{ctrl.getLocale("inner-boundaries")}}
        </legend>
        <div>
            <label>{{ctrl.getLocale("northwest")}}</label>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("latitude")}}</label>
            <input type="number" ng-focus="wasSelected(this)" ng-model="mapOpts.aoiBounds.northWest[0]" />
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("longitude")}}</label>
            <input type="number" ng-focus="wasSelected(this)" ng-model="mapOpts.aoiBounds.northWest[1]" />
        </div>
        <div>
            <label>{{ctrl.getLocale("southeast")}}</label>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("latitude")}}</label>
            <input type="number" ng-focus="wasSelected(this)" ng-model="mapOpts.aoiBounds.southEast[0]" />
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("longitude")}}</label>
            <input type="number" ng-focus="wasSelected(this)" ng-model="mapOpts.aoiBounds.southEast[1]" />
        </div>
    </fieldset>
    <fieldset>
        <legend>
            {{ctrl.getLocale("cluster")}}
        </legend>
        <div class="cluster-path">
            <label>{{ctrl.getLocale("url")}}</label>
            <div class="file-upload btn">
                <span class="ion-ios-folder-outline icon-before">{{ctrl.clusterPath()}}</span>
                <input onchange="angular.element(this).scope().clusterSelected(this)" type="file" accept="image/*" />
            </div>
        </div>

        <div>
            <label>{{ctrl.getLocale("size")}}</label>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("width")}}</label>
            <input type="number" ng-model="mapOpts.clusterImage.size[0]" />
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("height")}}</label>
            <input type="number" ng-model="mapOpts.clusterImage.size[1]" />
        </div>
        <div>
            <label>{{ctrl.getLocale("offsets")}}</label>
        </div>
        <div class="indent">
            <label>x</label>
            <input type="number" ng-model="mapOpts.clusterImage.offset[0]" />
        </div>
        <div class="indent">
            <label>y</label>
            <input type="number" ng-model="mapOpts.clusterImage.offset[1]" />
        </div>
    </fieldset>
    <fieldset>
        <legend>
            {{ctrl.getLocale("advanced")}}
        </legend>
        <div>
            <div class="slider">
                <label>{{ctrl.getLocale("thumb-size")}}</label>
                <div>
                    <input type="range" ng-model="mapOpts.thumbnailSize" min="5" max="20" />
                    <span>{{mapOpts.thumbnailSize}}%</span>
                </div>
            </div>
            <div>
                <label>{{ctrl.getLocale("tile-size")}}</label>
                <div class="custom-select">
                    <select class="selectTileSize" ng-model="mapOpts.tileSize" ng-options="size as size for size in tileSizes"></select>
                </div>
            </div>
            <div>
                <label>{{ctrl.getLocale("min-tile-size")}}</label>
                <div class="custom-select">
                    <select class="selectMinTileSize" ng-model="mapOpts.minTileSize" ng-options="minsize as minsize for minsize in minTileSizes"></select>
                </div>
            </div>
            <div>
                <label>{{ctrl.getLocale("file-format")}}</label>
                <div class="custom-select">
                    <select class="extension" ng-model="mapOpts.extension" ng-options="extension as extension for extension in extensions"></select>
                </div>
            </div>
            <div class="slider">
                <label>{{ctrl.getLocale("minimum-zoom")}}</label>
                <div>
                    <input type="range" ng-model="mapOpts.zoom[0]" min="0.1" max="1" step="0.1" />
                    <span>{{mapOpts.zoom[0]}}</span>
                </div>
            </div>
            <div class="slider">
                <label>{{ctrl.getLocale("maximum-zoom")}}</label>
                <div>
                    <input type="range" ng-model="mapOpts.zoom[1]" min="1" max="2" step="0.1" />
                    <span>{{mapOpts.zoom[1]}}</span>
                </div>
            </div>
        </div>
    </fieldset>
</form>
