<h2>{{ctrl.getLocale("labelgroup")}} {{markerService.selectedMarkerGroup.id}}</h2>
<form class="marker-model" ng-model="markerService.selectedMarkerGroup">
    <fieldset class="marker-type-sheet">
        <legend>{{ctrl.getLocale("general")}}</legend>
        <div>
            <label>{{ctrl.getLocale("type")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.type" ng-change="markerService.changeType(markerService.selectedMarkerGroup, this)" ng-options="value as key for (key, value) in markerService.types"></select>
            </div>
        </div>
        <div>
            <label>{{ctrl.getLocale("sheet")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.sheet" ng-options="name for name in excelService.sheetnames"></select>
            </div>
        </div>
        <div>
            <label class="align-start">{{ctrl.getLocale("coord")}}</label>
            <ul class="list">
                <li ng-repeat="columnHeader in excelService.sheets[markerService.selectedMarkerGroup.sheet][0]">
                    <input type="checkbox" value="columnHeader" ng-checked="markerService.selectedMarkerGroup.columnPosition.indexOf(columnHeader) > -1" ng-click="changePosition(markerService.selectedMarkerGroup, columnHeader)">
                    <label>{{columnHeader}}</label>
                </li>
            </ul>
        </div>
    </fieldset>
    <fieldset class="marker-text" ng-show="markerService.selectedMarkerGroup.text">
        <legend>{{ctrl.getLocale("text")}}</legend>
        <div>
            <label>{{ctrl.getLocale("content")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.columnContent" ng-options="header for header in excelService.sheets[markerService.selectedMarkerGroup.sheet][0]"></select>
            </div>
        </div>
        <div>
            <label>{{ctrl.getLocale("color")}}</label>
            <input type="color" ng-model="markerService.selectedMarkerGroup.text.color" />
        </div>
        <div>
            <label>{{ctrl.getLocale("offsets")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.columnTextOffset" ng-options="offsetText for offsetText in excelService.sheets[markerService.selectedMarkerGroup.sheet][0]"></select>
            </div>
        </div>
        <div>
            <label>{{ctrl.getLocale("text")}}</label>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("text-align")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.text.align">
                    <option>start</option>
                    <option>end</option>
                    <option selected>center</option>
                    <option>left</option>
                    <option>right</option>
                </select>
            </div>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("text-baseline")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.text.baseline">
                    <option>alphabetic</option>
                    <option>top</option>
                    <option selected>hanging</option>
                    <option>middle</option>
                    <option>ideographic</option>
                    <option>bottom</option>
                </select>
            </div>
        </div>
        <div>
            <label>{{ctrl.getLocale("font")}}</label>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("font-style")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.text.font[0]">
                    <option selected>normal</option>
                    <option>italic</option>
                    <option>oblique</option>
                </select>
            </div>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("font-weight")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.text.font[1]">
                    <option>100</option>
                    <option>200</option>
                    <option>300</option>
                    <option selected>400</option>
                    <option>600</option>
                    <option>700</option>
                    <option>900</option>
                </select>
            </div>
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("font-size")}}</label>
            <input type="number" ng-model="markerService.selectedMarkerGroup.text.font[2]" />
        </div>
        <div class="indent">
            <label>{{ctrl.getLocale("font-family")}}</label>
            <input type="text" ng-model="markerService.selectedMarkerGroup.text.font[3]" />
        </div>
    </fieldset>
    <fieldset class="marker-icon" ng-show="markerService.selectedMarkerGroup.icon">
        <legend>{{ctrl.getLocale("icon")}}</legend>
        <div>
            <label>{{ctrl.getLocale("type")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.icon.type" ng-change="markerService.changeIconType(markerService.selectedMarkerGroup)">
                    <option selected>image</option>
                    <option>circle</option>
                    <option>square</option>
                </select>
            </div>
        </div>
        <div ng-show="markerService.selectedMarkerGroup.icon.type == 'image'">
            <label>{{ctrl.getLocale("url")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.columnURL" ng-options="url for url in excelService.sheets[markerService.selectedMarkerGroup.sheet][0]"></select>
            </div>
        </div>
        <div>
            <label>{{ctrl.getLocale("size")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.columnSize" ng-options="size for size in excelService.sheets[markerService.selectedMarkerGroup.sheet][0]"></select>
            </div>
        </div>
        <div ng-show="markerService.selectedMarkerGroup.icon.type == 'image'">
            <label>{{ctrl.getLocale("offsets")}}</label>
            <div class="custom-select">
                <select ng-model="markerService.selectedMarkerGroup.columnIconOffset" ng-options="offsetIcon for offsetIcon in excelService.sheets[markerService.selectedMarkerGroup.sheet][0]"></select>
            </div>
        </div>
        <div ng-show="markerService.selectedMarkerGroup.icon.type != 'image'">
            <label>{{ctrl.getLocale("color")}}</label>
            <input type="color" ng-model="markerService.selectedMarkerGroup.icon.color" />
        </div>
    </fieldset>
    <fieldset class="marker-content">
        <legend>{{ctrl.getLocale("content")}}</legend>
        <div class="btn" ng-click="markerService.addContent()">
            <span class="ion-android-add icon"></span> {{ctrl.getLocale("add-content")}}
        </div>
        <ul class="content-type-list">
            <li ng-repeat="currentMarker in markerService.selectedMarkerGroup.content">
                <div class="mc-remove">
                    <div ng-click="markerService.deleteContent($index)" class="ion-ios-trash-outline deleteImage"></div>
                </div>
                <div class="mc-content">
                    <div class="mc-content-head">
                        <div class="custom-select">
                            <label>{{ctrl.getLocale("type")}}: </label>
                            <select ng-change="markerService.changeContentType(markerService.selectedMarkerGroup, $index)" ng-model="markerService.selectedMarkerGroup.newType[$index]" ng-options="option.type for option in markerService.contentTypes"></select>
                        </div>
                    </div>
                    <div class="mc-content-body" ng-show="markerService.selectedMarkerGroup.content[$index].type">
                        <div ng-repeat="(k, v) in currentMarker.content track by $index">
                            <div class="custom-select">
                                <label>{{k}}</label>
                                <select ng-model="markerService.selectedMarkerGroup.content[$parent.$index].content[k]" ng-options="d for d in excelService.sheets[markerService.selectedMarkerGroup.sheet][0]"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </fieldset>
</form>
