& {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background: map-get($components, content);
}
.inner-content {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    justify-content:center;
    align-items:center;
    color: map-get($colors, light);
    transition: color .3s ease;
    &.drag {
        color: map-get($colors, highlight);
        .add-another-file {
            border-color: map-get($colors, highlight);
        }
    }
}
.footer {
    @import "_footer.scss";
}
