& {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background: map-get($components, content);
}
.inner-content {
    display: flex;
    flex: 1 0 auto;
    justify-content:center;
    align-items:center;
}
.upload-images {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px rgba(0,0,0,.5);
    .icon {
        display: block;
        font: {
            size: 8rem;
            weight: 700;
        }
    }
}
.footer {
    @import "_footer.scss";
}
