& {
    h2 {
        margin: 0;
    }
    .file-upload {
        span:before {
            font-size: 1.6rem;
            vertical-align: middle;
            line-height: $gutter * 10;
            margin-right: 3 * $gutter;
        }
        input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 1rem;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
    .worksheet {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        > li p {
            margin: 0;
            text-transform: uppercase;
            height: $gutter * 10;
            line-height: $gutter * 10;
            font-weight: 700;
            border-bottom: 1px solid map-get($colors, lighterdark);
        }

    }
    .column {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        > li {
            background: map-get($colors, lightest);
            margin: $gutter  0;
            height: $gutter * 10;
            line-height: $gutter * 10;
        }
    }
}
