$gutter: 3px;

$components: (
    "header": linear-gradient(#323232, #2d2d2d),
    "headerBorder": 1px solid #2e2e2e,
    "siebar": #494949,
    "content": #5e5e5e,
    "footerBorder": 1px solid #2e2e2e
);

$colors: (
    "highlight": #ea1c4c,
    "base": #14aa79,
    "dark": #404342,
    "light": #e5e6e6,
    "lightest": #fff,
    "darkest": #000
);
