$gutter: 3px;

$colors: (
    "highlight": #ea1c4c,
    "base": #14aa79,
    "dark": #404342,
    "lighterdark": #2d2d2d,
    "light": #e5e6e6,
    "lightest": #fff,
    "darkest": #000
);

$components: (
    "header": linear-gradient(map-get($colors, dark), map-get($colors, lighterdark)),
    "sidebar": map-get($colors, light),
    "content": map-get($colors, dark)
);
