& {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3*$gutter;
    flex: 0 1 auto;
    min-width: 320px;
    border-right: 1px solid map-get($colors, dark);
    background: map-get($components, sidebar);
}
