& {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3*$gutter;
    flex: 0 1 auto;
    width: 320px;
    background: map-get($components, sidebar);
    transition: all .15s ease;
    overflow-x: hidden;
    overflow-y: auto;
    &.inactive {
        min-width: 0;
        padding: 0;
        flex: 0 0 0;
    }
    .form-content {
        @import "_forms.scss";
    }
}
